PORT=5000
MONGO_URI=mongodb://localhost:27017/auth
ACCESS_TOKEN_SECRET=super_access_secret
REFRESH_TOKEN_SECRET=super_refresh_secret
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=30d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
MONGO_AUTO_INDEX_CREATION=false
